.page {
    padding: 1.25rem;

    margin-left: auto;
    margin-right: auto;

    height: 100vh;
    overflow-y: scroll;
}

.card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    font-weight: lighter;

    display: flex;
    flex-direction: column;

    margin: 0.5rem;

    border-color: rgb(229 231 235 / 1);
    border-width: 1px;
    border-radius: 0.75rem;

    a {
        overflow: hidden;
        border-radius: 0.75rem;

        img {
            object-fit: cover;
        }
    }
}

.main {
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;

    gap: 1rem;
    padding: 1rem;

    height: 100vh;
    overflow-y: scroll;
}
